body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 180px 0 100px 0;
    background-color:rgb(20, 43, 114);
    background-size: cover;
    color: black;
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }


  header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    /* Ubah position ke fixed, dan top ke 0 */
    position: fixed;
    top:0;
    /* Ubah z-index ke 10 */
    z-index:10;
  }
  
  .logo {
    width: 124px;
    margin-top: 20px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
  }
  
  .header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
  }
  

  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
 
  .lesson-wrapper img {
    width:25%;
    float: left;
  }
  
  
  .message-wrapper {
    margin:30 px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
    margin-bottom: 10px;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  .message-wrapper a{
      background-color:rgb(136, 136, 170);
      text-align: center;
      
  }
